* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ffd700;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(10, 10, 10, 0.952);
}

.container {
  width: 85%;
  margin: 0 auto;
}
.menu {
  background: white;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.43);
  padding: 10px 0;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  line-height: 30px;
  padding: 10px 0;
}
h1 {
  text-align: center;
  margin-top: 60px;
  font-family: cursive;
}
h2 {
  text-align: center;
  margin-top: 25px;
}
h3 {
  margin: 10px 0;
  text-decoration: underline;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 17px;
}
